 <div class="container">
        <!--#region About Me-->
        <div class="jumbotron biostyle"> 
            
            <!--#region Picture-->
            <div class="container">
                <img class="img-responsive biography" src="../assets/images/biopic.jpg" alt="" />
            </div>
            <!--#endregion-->        
            <!--#region Biography-->
            <div class="container">
                <h2>Biography</h2>
                <div class="bioinfo">
                    <p>
                        My name is Kristian Castaneda, I am currently doing my fifth semester at Centennial College
                        as a Software Engineer. <br /><br />

                        Throughout my years of professional experience, I have expressed effective communication, organizational,
                        and interpersonal skills, which developed my documentation skills. As an employee, I am committed to
                        completing appointed tasks and have gained the ability to multitask and prioritize workload. I also
                        possess superior analytical, time management, and problem-solving skills. I have worked as a leader
                        and have demonstrated the ability to work efficiently with a diverse team. With over 3 years of exceptional
                        customer service experience, I have the ability to represent a company professionally while producing
                        accurate and high quality of work.
                        <br /><br />
                        Currently, I am working towards a Software Engineering Diploma at Centennial College. The knowledge I
                        have acquired through my education include proficiency in Microsoft Office Suites including Excel, Access,
                        and SharePoint, HTML, PHP, CSS, XML, JavaScript, Java, C#, C++ and Linux/Unix. I also possess knowledge
                        with relational database and database manipulation using Microsoft Access, SQL, Oracle, and LINQ.
                        Furthermore, I have been able to execute all tasks efficiently and within the given deadline.
                    </p>
                </div>
            </div>
            <!--#endregion-->
        </div>
        <!--#endregion-->
    </div>
    <hr class="featurette-divider">