 <!--#region contact-->
    <div class="container">
        <div class="row contactpage">
            <div class="container contactheader"><h1>Get in touch</h1></div>
            <hr class="featurette-divider">
            <!--#region contactform-->
            <div class="container contactimage col-sm-6 col-md-6 col-lg-6">
                <img src="../assets/images/address.png" alt="Contact Me Image" class="img-responsive" />
            </div>
            <!--#endregion-->
            <!--#region contactinfo-->
            <div class="container contactinfo col-sm-6 col-md-6 col-lg-6">
                <div>
                    <h4>Email Address</h4>
                    <h5><a href="mailto:kcastan1@my.centennialcollege.ca">kcastan1@my.centennialcollege.ca</a></h5>
                    <hr class="featurette-divider">
                    <h4>Work Address</h4>
                    <h5>941 Progress Ave., Toronto, ON, M1G 3T8</h5>
                    <hr class="featurette-divider">
                    <h4>Contact Number</h4>
                    <h5>416-123-1234</h5>
                </div>
            </div>
            <!--#endregion-->
        </div>
    </div>
    <!--#endregion-->
    <hr class="featurette-divider">