<!--#region Footer/Copyright/Social-->
    <footer class="container footer">
        <!--#region Copyright-->
        <div class="container">
            <p class="text-muted copyright">Copyright &copy; 2015 Kristian Castaneda Personal Website - All Rights Reserved</p>
        </div>
        <!--#endregion-->
        <!--#region Social-->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="socialmedia">
                    <h3>Social</h3>
                    <a class="socialIcons" href="http://twitter.com/kristianissimo">
                        <img id="twitter" src="assets/images/twitter.png" />
                    </a>
                    <a class="socialIcons" href="http://facebook.com/jjalapeno">
                        <img id="facebook" src="assets/images/facebook.png" />
                    </a>
                    <a class="socialIcons" href="http://github.com/KristianCastaneda">
                        <img id="github" src="assets/images/github.png" />
                    </a>
                    <a class="socialIcons" href="http://instagram.com/kristianissimo">
                        <img id="instagram" src="assets/images/instagram.png" />
                    </a>
                    <a class="socialIcons" href="https://plus.google.com/u/0/106771152647996689682/posts">
                        <img id="googleplus" src="assets/images/googleplus.png" />
                    </a>
                </div>
            </div>
        </div>
        <!--#endregion-->
    </footer>
    <!--#endregion-->