   <!--#region navigation-->
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar-header">
                <nav class="navbar navbar-inverse navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <!--#region Navbar Toggle-->
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!--#endregion-->
                            <!--#region Logo-->
                            <a class="navbar-brand" href="/">
                                <img id="logo" src="assets/images/logokhc.png" />
                            </a>
                            <!--#endregion-->
                        </div>
                        <!--#region Navbar-->
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/about">About Me</a></li>
                                <li><a href="/contact">Contact Me</a></li>
                                <li><a href="/services">Services</a></li>
                                <li><a href="https://github.com/KristianCastaneda">GitHub</a></li>
                                <li class="dropdown">
                                    <a href="/projects" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects<span class="caret"></span></a>
                                    <!--#region Dropdown Menu-->
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/projects">View All Projects</a></li>
                                        <li><a href="http://kristiancastaneda.github.io/pages/previousprojects/Index.html">First Project</a></li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">COMP213 Projects</li>
                                        <li><a href="http://kristiancastaneda.github.io/pages/previousprojects/Assignment02/Assignment02.html">Assignment 02</a></li>
                                        <li><a href="http://kristiancastaneda.github.io/pages/previousprojects/Assignment03/Assignment3.htm">Assignment 03</a></li>
                                        <li><a href="http://kristiancastaneda.github.io/pages/previousprojects/Assignment04/Assignment4.htm">Assignment 04</a></li>
                                        <li><a href="http://kristiancastaneda.github.io/pages/previousprojects/Assignment05/Assignment5.xml">Assignment 05</a></li>
                                        <li><a href="http://kristiancastaneda.github.io/pages/previousprojects/Midterm/300730698midterm213.htm">MidTerm</a></li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">COMP229 Projects</li>
                                        <li><a href="http://kristiancastaneda.github.io/pages/previousprojects/229Assignment02/Assignment2.htm">Assignment 02</a></li>
                                        <li><a href="http://kristiancastaneda.github.io/pages/previousprojects/229Assignment03/assignment3.html">Assignment 03</a></li>
                                        <li><a href="http://kristiancastaneda.github.io/pages/previousprojects/229Assignment04/Assignment04.html">Assignment 04</a></li>
                                        <li><a href="http://kristiancastaneda.github.io/pages/previousprojects/229Midterm/Midterm300730698.html">MidTerm</a></li>
                                        <li><a href="http://kristiancastaneda.github.io/pages/previousprojects/Final/300730698.zip">Final</a></li>
                                    </ul>
                                    <!--#endregion-->
                                </li>
                            </ul>
                        </div>
                        <!--#endregion-->
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!--#endregion-->