<!--#region index content-->
    <!--#region Welcome Tagline Statement-->
    <div class="container">
        <div class="jumbotron statement">
            <div class="statementfont">
                <h1 class="row welcome">Welcome</h1>
                <h2 class="tagline">Creating solutions for all</h2>
                <div class="mission">
                    <h4 class="displaymore">
                        View More <span class="glyphicon glyphicon-chevron-down"></span>
                    </h4>
                    <p class="missionstatement">
                        I'm a developer who likes to make your life easier and more convenient by
                        creating applications or websites that satisfy your needs. I pride myself
                        on reliable communication with my clients and I'm and easy to work with, friendly guy.
                        Be it a website, a software program, or a mobile app, I would love to do it for you.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion-->
    <!--#region Featured Slider-->
    <div class="container">
        <center>
            <h2>Featured Content</h2>
        </center>
        <!--#region Slider-->
        <div id="mySlider" class="carousel slide" data-ride="carousel" data-interval="8000">
            <!-- #region Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#mySlider" data-slide-to="0" class="active"></li>
                <li data-target="#mySlider" data-slide-to="1"></li>
                <li data-target="#mySlider" data-slide-to="2"></li>
            </ol>
            <!--#endregion-->
            <!--#region Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="http://kristiancastaneda.github.io/previousprojects/229Assignment04/Assignment04.html">
                        <img src="assets/images/bubbleshooter.png" alt="firstSlide" id="firstSlide" />
                    </a>
                    <div class="carousel-caption">
                        <a href="http://kristiancastaneda.github.io/pages/previousprojects/229Assignment04/Assignment04.html">
                            <label class="caption-label">Canvas Game</label>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <a href="http://kristiancastaneda.github.io/pages/previousprojects/229Assignment03/assignment3.html">
                        <img src="assets/images/registrationform.png" alt="secondSlide" id="secondSlide" />
                    </a>
                    <div class="carousel-caption">
                        <a href="http://kristiancastaneda.github.io/pages/previousprojects/229Assignment03/assignment3.html">
                            <label class="caption-label">JavaScript Form</label>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <a href="http://kristiancastaneda.github.io/pages/previousprojects/Assignment05/Assignment5.xml">
                        <img src="assets/images/nutritionfacts.png" alt="thirdSlide" id="thirdSlide" />
                    </a>
                    <div class="carousel-caption">
                        <a href="http://kristiancastaneda.github.io/pages/previousprojects/Assignment05/Assignment5.xml">
                            <label class="caption-label">XML Page</label>
                        </a>
                    </div>
                </div>
            </div>
            <!--#endregion-->
            <!--#region Controls -->
            <a class="left carousel-control" href="#mySlider" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#mySlider" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <!--#endregion-->
        </div>
        <!--#endregion-->
        <!-- #region Call to Action button -->
        <div class="container viewmore">
            <button class="calltoaction" onclick="window.location.href='pages/projects.html'">View More Projects</button>
        </div>
        <!--#endregion-->
    </div>
    <!--#endregion-->
    <!--#endregion-->
 
    <hr class="featurette-divider">