<div class="container">     
        <!--#region featured projects-->
        <div class="container featuredprojects">
            <h1>Featured Projects</h1>
            <hr class="featurette-divider">
        </div>
        <div class="container marketing">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <a href="http://kristiancastaneda.github.io/pages/previousprojects/229Assignment04/Assignment04.html">
                        <img class="img-circle" src="../assets/images/bubbleshooter.png">
                    </a>
                    <h1>Bubble Shooter</h1>
                    <p>
                        A web game application made using JavaScript. Pop the bubble by clicking on it.
                        The bubbles move around the screen and the more bubbles you pop, the faster they move around.
                    </p>
                    <p><a class="btn btn-default" href="http://kristiancastaneda.github.io/pages/previousprojects/229Assignment04/Assignment04.html" role="button">View Project »</a></p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <a href="http://kristiancastaneda.github.io/pages/previousprojects/229Assignment03/assignment3.htm">
                        <img class="img-circle" src="../assets/images/registrationform.png">
                    </a>
                    <h2>Validation Form</h2>
                    <p>
                        Registration Form with JavaScript Validation. Form must be completed with valid information or an error will occur.
                        The validations on this form was made with JavaScript and the styling was made using CSS.
                    </p>
                    <p><a class="btn btn-default" href="http://kristiancastaneda.github.io/pages/previousprojects/229Assignment03/assignment3.html" role="button">View Project »</a></p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <a href="http://kristiancastaneda.github.io/pages/previousprojects/Assignment05/Assignment5.xml">
                        <img class="img-circle" src="../assets/images/nutritionfacts.png">
                    </a>
                    <h2>XML Page</h2>
                    <p>
                        An XML page displaying nutrition facts. Fully styled with proper margins, borders, colors and other styles.
                        All styling created with CSS without the use of HTML tags.
                    </p>
                    <p><a class="btn btn-default" href="http://kristiancastaneda.github.io/pages/previousprojects/Assignment05/Assignment5.xml" role="button">View Project »</a></p>
                </div>
            </div>
        </div>
        <!--#endregion-->
        <hr class="featurette-divider">
        <!--#region other projects-->
        <div class="row marketing">
            <div class="container">
                <h2 class="otherprojects">Other Projects</h2>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4><a href="http://kristiancastaneda.github.io/pages/previousprojects/Assignment02/Assignment02.html">Green is clean</a></h4>
                <p>An HTML web page with a Green Movement Theme.</p>
                <hr class="featurette-divider">
                <h4><a href="partials/previousprojects/Assignment03/Assignment3.htm">Mazda 6</a></h4>
                <p>An HTML web page featuring the Mazda 6 with information on details and dealers.</p>
                <hr class="featurette-divider">
                <h4><a href="partials/previousprojects/Assignment04/Assignment4.htm">CE Evaluation Form</a></h4>
                <p>An HTML Evaluation Form for Centennial College's Continuing Education Course.</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4><a href="http://kristiancastaneda.github.io/pages/previousprojects/Midterm/300730698midterm213.htm">Red Hot Chili Peppers</a></h4>
                <p>An HTML web page featuring the popular band, Red Hot Chili Peppers.</p>
                <hr class="featurette-divider">
                <h4><a href="http://kristiancastaneda.github.io/pages/previousprojects/229Assignment02/Assignment2.htm">Lexar USB Flash Drives</a></h4>
                <p>An HTML web page featuring Lexar's USB Flash Drives.</p>
                <hr class="featurette-divider">
                <h4><a href="http://kristiancastaneda.github.io/pages/previousprojects/229Midterm/Midterm300730698.html">Airplane Booking Form</a></h4>
                <p>An HTML web page for booking flights.</p>
            </div>
        </div>
        <!--#endregion-->
    </div>
    <hr class="featurette-divider">