<!--#region Services Offered-->
    <div class="container">
        <div class="container servicesoffered">
            <h1>Services Offered</h1>
        </div>
        <!--#region Database Development-->
        <div class="container">
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <img class="container featurette-image img-responsive" src="../assets/images/database-image.jpg" data-src="holder.js/500x500/auto" alt="500x500" data-holder-rendered="true">
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7">
                    <h2 class="featurette-heading">Database Development Services</h2>
                    <hr class="featurette-divider">
                    <p class="lead">
                        I offer database development services. Does your business need
                        a new database? Do you wish your database was better customized
                        to meet your working needs? For years, I have been created and
                        maintained numerous databases. For prospective clients, I offer
                        a free consultation and system analysis to determine what you need
                        to make your database software work best for you.
                    </p>
                </div>
            </div>
        </div>
        <!--#endregion-->
        <!--#region Web Development-->
        <div class="row container">
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-sm-7 col-md-7 col-lg-7">
                    <h3 class="featurette-heading">Web Development Services</h3>
                    <hr class="featurette-divider">
                    <p class="lead">
                        Do you need your own personal website? A website for your business?
                        I offer a variety of Web design services, from large database driven
                        web sites for the corporate endeavor, to the most economical "brochure-style"
                        presence for small business. Whether you’re using an outdated system or looking
                        to improve process efficiency and boost your bottom line, I can help.
                    </p>
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <img class="featurette-image img-responsive" src="../assets/images/web-design.jpg" data-src="holder.js/500x500/auto" alt="500x500" data-holder-rendered="true">
                </div>
            </div>
        </div>
        <!--#endregion-->
        <!--#region Mobile Development-->
        <div class="row container">
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <img class="featurette-image img-responsive" src="../assets/images/app-dev.jpg" data-src="holder.js/500x500/auto" alt="500x500" data-holder-rendered="true">
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7">
                    <h3 class="featurette-heading">Mobile Application Development Services</h3>
                    <hr class="featurette-divider">
                    <p class="lead">
                        I love working with companies that are innovators. Right now, mobile apps
                        are revolutionizing the way companies do business and interact with their
                        clients and I is at the front lines. Not only have we developed mobile apps
                        for companies in industries ranging from technology to finance, I’ve become a
                        go-to mobile app developer.
                    </p>
                </div>
            </div>
        </div>
        <!--#endregion-->
        <!--#region Software Development-->
        <hr class="featurette-divider">
        <div class="row container">
            <div class="row featurette">
                <div class="col-sm-7 col-md-7 col-lg-7">
                    <h3 class="featurette-heading">Software Development Services</h3>
                    <hr class="featurette-divider">
                    <p class="lead">
                        I specialize in developing innovative software products for other software and
                        technology companies, and I am considered the software outsourcing partner of choice
                        by many companies. I have a vast technical skillset and extensive experience developing
                        custom software solutions across a range of platforms and technologies.
                    </p>
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <img class="featurette-image img-responsive" src="../assets/images/software-dev.jpg" data-src="holder.js/500x500/auto" alt="500x500" data-holder-rendered="true">
                </div>
            </div>
        </div>
        <!--#endregion-->
        <!--#region Game Development-->
        <div class="row container">
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <img class="featurette-image img-responsive" src="../assets/images/gaming.jpg" data-src="holder.js/500x500/auto" alt="500x500" data-holder-rendered="true">
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7">
                    <h3 class="featurette-heading">Game Development Services</h3>
                    <hr class="featurette-divider">
                    <p class="lead">
                        I also specialize in creating games & immersive experiences for multiple platforms including
                        mobile, PC, console and VR devices like the Oculus Rift. I offer concept to completion production
                        partnering with clients to deliver the best possible experience to represent their unique brand or
                        property. I am well versed with all tools including HTML5, Flash and Unity 3d.
                    </p>
                </div>
            </div>
        </div>
        <!--#endregion-->
    </div>
    <!--#endregion-->
    <hr class="featurette-divider">